* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* box-sizing: border-box; */
}

body {
  background-color: #90caf9;
  color: #fff;
  font-family: 微软雅黑;
  font-size: 17px;
  line-height: 1;
  overflow: hidden;
  /* cursor: default; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input[type=text] {
  background: 0 0;
  border: none;
  color: #fff;
  outline: 0;
  border-bottom: 1px solid;
  float: left;
  width: 105px;
  font: inherit;
  line-height: 1.4;
  -o-transition: all .15s ease;
  transition: all .15s ease;
  -webkit-transition: all .15s ease;
}

input[type=range] {
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  background: rgba(192, 192, 192, 0.3);
  display: block;
  margin: 0;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 10px; /*将轨道设为圆角的*/
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%; /*外观设置为圆形*/
}

input[type=range]::-webkit-slider-thumb:active {
  height: 25px;
  width: 25px;
  margin-top: -5px;
  background: #ffffff;
}

.material-icons.hover {
  display: none;
  margin-top: 12px;
}

#box {
  width: 1024px;
  height: 576px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .25);
  top: 50%;
  left: 50%;
  margin-top: -288px;
  margin-left: -512px;
  -webkit-animation: fadeInDown 1s .2s ease both;
  -moz-animation: fadeInDown 1s .2s ease both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

.bg {
  overflow: hidden;
}

.bg-blur {
  box-shadow: 0 10px 150px rgba(0, 0, 0, .3) inset;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='30');
  filter: blur(30px);
}

.bg-lyr {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .42);
  padding: 20px 0;
  z-index: 1;
  overflow: hidden;
}

.header {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 20px;
  height: 70px;

}

.menu.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

.menu {
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .85);
  padding-top: 70px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.close-btn, .menu-ico {
  float: left;
  margin: 0 20px 0 0;
  padding-top: 8px;
  width: 27px;
  cursor: pointer;
}

.close-btn span, .menu-ico span {
  display: block;
  width: 25px;
  height: 1px;
  background: #fff;
  margin-bottom: 10px;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.close-btn span:first-child, .menu-ico.active span:first-child {
  -webkit-transform: rotate(45deg) translate3d(2px, 6px, 0);
  transform: rotate(45deg) translate3d(2px, 6px, 0);
  width: 27px;
}

.close-btn span:nth-child(2), .menu-ico.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate3d(2px, -6px, 0);
  transform: rotate(-45deg) translate3d(2px, -6px, 0);
  width: 27px;
}

.menu-ico.back span:first-child {
  -webkit-transform: rotate(-29deg) translate3d(1px, 0, 0);
  transform: rotate(-29deg) translate3d(1px, 0, 0);
}

.menu-ico.back span:nth-child(2) {
  -webkit-transform: rotate(29deg) translate3d(1px, 0, 0);
  transform: rotate(29deg) translate3d(1px, 0, 0);
}

.search-ico {
  float: left;
  margin: 0 20px 0 0;
  width: 27px;
  cursor: pointer;
}

.content {
  overflow: auto;
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  float: left;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.content.selected {
  display: block;
}

.content.lessheight {
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
}

.content .tab {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .tab {
  padding-left: 20px;
}

.content .tab.active {
  display: block;
}

.playlist {
  float: left;
  text-align: center;
  padding-right: 20px;
  width: 20%;
}

.content.active .tab > .playlist {
  display: none;
}

.playlist .art, .album-large .art, .genre .art {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 175px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  background: url(../images/loader.gif) center center no-repeat #444;
  cursor: pointer;
}

.playlist .info, .genre .info {
  padding: 10px 0;
  line-height: 1.2;
  height: 54px;
  width: 100%;
  float: left;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.playlist .info h1, .genre .info h1 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-size: 15px;
  font-weight: normal;
  width: 100%;
}

.playlist .info h1, .album .info p, .genre .info h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.play:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.play i {
  line-height: 180%;
  font-size: 100px;
  display: none;
}

.play:hover i {
  display: block;
  -webkit-animation: pulse 1s 0s ease both;
  -moz-animation: pulse 1s 0s ease both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.1)
  }
  100% {
    -webkit-transform: scale(1)
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1)
  }
  50% {
    -moz-transform: scale(1.1)
  }
  100% {
    -moz-transform: scale(1)
  }
}

.playlist-content, .genre-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  top: 0;
  display: none;
}

.playlist-content.active {
  display: block;
}

.song-large {
  float: left;
  height: 100%;
  padding: 0 0 0 20px;
}

.album-large .art {
  height: 100%;
  max-height: 500px;
  max-width: 500px;
  cursor: default;
}

.results-list, .songs, .starred-list, .queue {
  overflow: auto;
  max-height: 100%;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.songs h1 {
  margin: 10px 0 20px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 20px;
}

ol, ul {
  list-style: none;
}

.results-list li, .songs li, .queue-list li {
  line-height: 50px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  padding: 0 20px;
  float: left;
  cursor: pointer;
}

.results-list li span, .songs li span, .queue-list li span {
  margin-right: 20px;
  font-size: 12px;
  font-weight: 300;
  height: 50px;
  float: left;
  width: 20px;
  text-align: center;
}

.results-list li p, .songs li p, .queue-list li p {
  float: left;
  max-width: 370px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.results-list li .float-r, .songs li .float-r, .queue-list li .float-r {
  float: right;
  display: table-cell;
  vertical-align: middle;
}

.results-list li:hover, .songs li:hover, .queue-list li:hover {
  background: rgba(0, 0, 0, .1);
}

.results-list li:hover i, .songs li:hover i, .queue-list li:hover i {
  display: none;
}

.results-list li:hover .material-icons, .songs li:hover .material-icons, .queue-list li:hover .material-icons {
  display: block;
}

.songs li .float-r i, .queue-list li .float-r i {
  margin-top: 12px;
}

.results-list li p, .queue-list li p {
  max-width: 220px;
}

.results-list, .queue-list {
  width: 100%;
  max-height: -webkit-calc(100% - 70px);
  max-height: calc(100% - 70px);
  position: absolute;
  top: 70px;
  left: 0;
}

.bottom {
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .1);
  z-index: 2;
  height: 70px;
  width: 100%;
  line-height: 70px;
  padding: 0 20px;
  opacity: 0;
  -o-transition: -o-transform .5s ease .5s;
  transition: transform .5s ease .5s;
  -webkit-transition: -webkit-transform .5s ease .5s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.bottom.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.bottom, .getSongs, .share-box {
  position: absolute;
}

.bottom .controls {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  font-size: 14px;
  color: rgba(255, 255, 255, .7);
}

.bottom #currentNP {
  width: 65px;
}

.bottom .controls > div {
  display: table-cell;
  vertical-align: middle;
}

.bottom #bottomArt {
  width: 70px;
  height: 70px;
  margin-left: -20px;
  cursor: pointer;
}

.bottom .controls .c-btn {
  width: 45px;
}

.bottom .controls .c-btn i {
  font-size: 40px;
  float: left;
  cursor: pointer;
}

.bottom .controls .o-btn i {
  font-size: 24px;
  float: right;
  cursor: pointer;
}

.bottom .controls .s-time, .more-btn, .o-btn, .share-btn {
  width: 35px;
}

.bottom .controls .slider {
  width: 50%;
  position: relative;
}

.sliderBg {
  content: "";
  position: absolute;
  height: 15px;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;
  pointer-events: none;
}

.controls .song-length.s-time {
  text-align: right;
}

.queue {
  width: 440px;
  height: calc(100% - 70px);
  background-color: rgba(0, 0, 0, .7);
  bottom: 70px;
  right: 0;
  padding: 20px;
  line-height: 1.4;
  z-index: 10;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.queue.active {
  transform: translate3d(0, 0, 0);
}

#box, .bg, .bg-blur, .bg-lyr {
  border-radius: 8px;
}

#box, .bg, .bg-blur, .bg-lyr, .header, .menu, .play, .queue {
  position: absolute;
}

.bg, .bg-blur, .bg-lyr, .play {
  width: 100%;
  height: 100%;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

/*滑块设置*/
::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .6);
}